.btn-class{
    margin-right: 5px;
    margin-top:10px;
    padding: 22px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#input-text{
    border:1px solid black;
    margin-left:434px;
    box-shadow: 5px 10px #888888;

}
